* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
}

#mount-point {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.notes-app{
    margin: auto;
    width: 600px;
    text-align: center;
}
.notes-app ul{
    -webkit-padding-start: 0;
}
.notes-app ul li{
    display: inline-block;
    margin: 5px;
    padding-left: 0;
    font-size: 30px;
    cursor: pointer;
}